#refresh:hover{
   color: blue;
}
@font-face {
  font-family: "Antique Book Cover";
  src: url("../font/antique_book_cover/antique_book_cover.otf") format("opentype");
}
.input-group{
  width: 50%; 
}
.searchInput{
    position: absolute;
    top: 50%;
    right: 40%;
    transition: all 0.5s ease;
}
.separator{
      color: white;
    font-size: 60px;
    font-weight: 900;
    float: right;
}
.cc-selector{
      float: right;
    width: 250px;
    margin-top: 2%;
}
.cc-selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}
.search{background-image:url('../images/wiki-logo-v2.svg');}
.random{background-image:url('../images/dice.png');}
.cc-selector input:active +.icon{opacity: .9;}
.cc-selector input:checked +.icon{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
            height: 100px; 
}

.icon{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:100px;height:70px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);
}
.icon:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}


body{
  background-size: cover;
  background-repeat: none;
  background-image: url('../images/wood-texture.png');
 }
.languages{
      display: flex;
    justify-content: space-around;
    list-style: none;
}
.languages a{
  text-decoration: none;
  text-transform: uppercase;
}
.active{
  color: ##4A817F;
  background-color: #F2E1C3;
  padding: 10px;
}
.card{
    background-color: darkorange;
    opacity: 0.9;
    color: white;
    filter: blur(1px);
    border-radius: 10px;
}
.card-container{
    width: 17%;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.lock{
    float: right;
    position: relative;
    top: 46px;
    right: 10px;
    font-size: 35px !important;
    z-index: 2;
    color: brown;
    font-weight: 800;
    align-self: flex-end;
}
#wikiInfo{
    height: 70vh;
    width: 100%;
    overflow: auto;
    position: absolute;
    top: 32%;
    opacity: 0;
    transition: all 1s ease 0.6s;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
.articleTitle{
    margin-top: 13% !important;
    font-size: 17px !important;
    font-family: cursive !important;
    left: 16% !important;
    margin-bottom: 10px !important;
}

.extract{
    padding-left: 17%;
    padding-right: 4%;
    font-size: 17px;
    overflow: hidden;
    font-weight: 600;
    color: #730512;
    font-family: 'Goudy Bookletter 1911', serif;
    height: 64%;
    width: 97%;
    margin-top: 44px;
}

.cover{
  background-image: url(../images/book-cover-02.png) !important;
}
.page{
 background-image: url(../images/texture_005.png);  
}
.page h4{
    font-size: 30px;
    text-align: center;
    position: relative;
    top: 17%;
    left: 18%;
    margin: auto 0;
    font-family: 'Antique Book Cover';
    -webkit-transition: all 0.1s linear 0.2s;
    transition: all 0.1s linear 0.2s;
    opacity: 1;
    width: 78%;
    line-height: 1.5;
    word-wrap: normal;
    color: #FFED9A; 
}
.shortTitle{
  top: 37% !important;
}

.longTitle{
  top: 30% !important;
  line-height: 1.3 !important;
}
.long{
    height: 56% !important;
}
.short{
    height: 43% !important;
    padding-top: 0px;
    margin-top: -5px;
}
.page img{
  opacity: 0;
  position: absolute;
  top: 33px;
  left: 13%;

}
.wrapper{
  width: 50%;
  padding-left: 5%;
  min-width: 300px;
}
.book.flipped h4{
 opacity: 0;
}
.page img,{
  -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    top: 14%;
    position: absolute;

}
.loading{
    width: 28%;
    height: 19%;
    position: absolute !important;
    left: 35%;
    top: 37% !important;
}

.loaded{
  opacity: 0 !important;
  visibility: hidden;
}
.setVisible{
 opacity: 0.7 !important;
  visibility: visible ;
}
.appear.portrait{
    width: 57%;
    height: 71%;
     left: 20%;
    opacity: 1 !important;
     -webkit-box-shadow: 0px 0px 0px 2px #AA6C19;
       -moz-box-shadow:  0px 0px 0px 2px #AA6C19;
       box-shadow: 0px 0px 0px 2px #AA6C19;
}
.appear.landscape{
    width: 78%;
    height: 55%;
    left: 12%;
    opacity: 1 !important;
    border-radius: 8px;
     -webkit-box-shadow: 0px 0px 0px 2px #AA6C19;
       -moz-box-shadow:  0px 0px 0px 2px #AA6C19;
        box-shadow: 0px 0px 0px 2px #AA6C19;
}

.shelf{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    position: relative;
    background-image: url(../images/wood-texture.png);
    border-top: 1px solid #eee;
    width: 100%;
    height: 25px;
    padding-left: -6px;
    perspective: 500px;
    transform: skew(-63deg);
}
@media only screen and (max-width : 1286px)  {
  .wrapper{
      width: 100%;
      padding-left: 20%;
   }
}

@media only screen and (max-height : 620px)  {
  .wrapper{
      width: 100%;
      padding-left: 20%;
   }
}