#refresh:hover{
   color: blue;
}

.input-group{
  width: 50%; 
}
.searchInput{
    position: absolute;
    top: 50%;
    right: 40%;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.separator{
      color: white;
    font-size: 60px;
    font-weight: 900;
    float: right;
}
.cc-selector{
      float: right;
    width: 250px;
    margin-top: 2%;
}
.cc-selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
        -ms-appearance:none;
         -o-appearance:none;
            appearance:none;
            display: none;
}
.search{background-image:url('../images/wiki-logo-v2.svg');}
.random{background-image:url('../images/dice-min.png');}
.cc-selector input:active +.icon{opacity: .9;}
.cc-selector input:checked +.icon{
    -webkit-filter: none;
       -moz-filter: none;
       -o-filter: none;
       -ms-filter: none;
            filter: none;
            height: 100px; 
}

.icon{
    cursor:pointer;
    -webkit-background-size:contain;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:100px;height:70px;
    -webkit-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
     -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
     -ms-filter: brightness(1.8) grayscale(1) opacity(.7);
     -o-filter: brightness(1.8) grayscale(1) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);
}
.icon:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -ms-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -o-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}


body{
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: none;
  background-image: url('../images/wood-texture.png');
 }
.languages{
      margin-top: -9px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    list-style: none;
}
.languages a{
  text-decoration: none;
  text-transform: uppercase;
  color: #EF4A1D  !important;
}
.active{
  color: #EF4A1D !important;
  background-color: #F2E1C3;
  padding: 10px;
}
.overlay {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(65, 0, 0, 0.85);
    z-index:9999;
    color:white;
    border-radius: 13px;
    opacity: 1;
}
.overlay {
    text-align: center;
}
 
.overlay:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}
.lock:hover{
  font-size: 80px;
  color: #A36A16;
  cursor: pointer; cursor: hand;
}
.card-container h5{
  color:rgba(65, 0, 0, 0.85);
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 19px;
}
.loader {
    display: none;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #5A1E1A;
    width: 120px;
    position: absolute;
    top: 45%;
    left: 45%;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.card-container form{
     margin-left:25px;    
     margin-right: 5px;
}
.final{
    position: relative;
    top: 19px;
    left: 5%;
    font-size: 1.25em;
}
.success{
    color: green;
}
.wrong{
  color:#CE1919;
}

.card-container button{
    position: relative;
    left: 30%;
    margin-top:10px;
    border-radius: 6px;
    background-color: rgba(65, 0, 0, 0.85);
    color: #ECCAAE;
    padding: 5px;
}

.show{
  display: visible !important;
}
.card-container button{
    background-color: #A56825;
}
.visible{
  opacity: 0;
  z-index: -1;
}
.card-container{
    padding: 10px;
    font-family: sans-serif;
    min-width: 250px;
    background-color: #ECCAAE;
    width: 250px;
    min-height: 250px;
    position: relative;
    margin: 100px 106px 30px 0;
    border-radius: 13px;
}


.lock{
    font-size: 65px !important;
    color: white;
}
#wikiInfo{
    overflow-x: hidden !important;
     height: 69vh;
    width: 100%;
    position: absolute;
    top: 21%;
    opacity: 0;
    -webkit-transition: all 1s ease 0.6s;
    transition: all 1s ease 0.6s;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
.articleTitle{
    top: 20%;
    display: inline;
    font-size: 21px !important;
    font-family: cursive !important;
    left: 0% !important;
    line-height: 1.95 !important;
    padding-bottom: 4px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 2px, #7C4A0F 2px, #7C4A0F 3px, rgba(0, 0, 0, 0) 3px);
}

.extract{
    padding-left: 17%;
    padding-right: 4%;
    font-size: 17px;
    overflow: hidden;
    font-weight: 600;
    color: #730512;
    font-family: 'Goudy Bookletter 1911', serif;
    height: 64%;
    width: 97%;
    margin-top: 15px;
    display: inline-block;
}
.firstE:first-letter {
     font-size: 38px;
    color: #520100;
    line-height: 21px;
    float: left;
    padding-right: 4px;
    padding-top: 10px;
}
.positionT{
  padding-left: 10px;
  text-align:center;
  padding-top: 22px;
}
.linkT:hover{
  text-decoration: none;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 2px, #333333 2px, #333333 3px, rgba(0, 0, 0, 0) 3px) !important;
}

.cover{
  background-image: url(../images/book-cover-02-min.png) !important;
}
.page{
 background-image: url(../images/texture_005-min.png);  
}
.page h4{
    font-size: 30px;
    text-align: center;
    position: relative;
    top: 3%;
    left: 18%;
    margin: auto 0;
    font-family: 'Antique Book Cover';
    -webkit-transition: all 0.1s linear 0.2s;
    -moz-transition: all 0.1s linear 0.2s;
    -ms-transition: all 0.1s linear 0.2s;
    -o-transition: all 0.1s linear 0.2s;
    transition: all 0.1s linear 0.2s;
    opacity: 1;
    width: 78%;
    line-height: 1.5;
    word-wrap: normal;
    color: #FFED9A; 
}
.shortTitle{
  top: 37% !important;
}

.longTitle{
  top: 30% !important;
  line-height: 1.3 !important;
}
.long{
    height: 56% !important;
}
.short{
    height: 43% !important;
    padding-top: 0px;
    margin-top: -5px;
}
.page img{
  opacity: 0;
  position: absolute;
  top: 33px;
  left: 13%;

}
.wrapper{
  width: 50%;
  padding-left: 5%;
  min-width: 300px;
}
.book.flipped h4{
 opacity: 0;
}
.page img,{
    -webkit-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    top: 14%;
    position: absolute;

}
.loading{
    width: 28%;
    height: 19%;
    position: absolute !important;
    left: 35%;
    top: 37% !important;
}

.loaded{
  opacity: 0 !important;
  visibility: hidden;
}

.setVisible{
 opacity: 0.7 !important;
  visibility: visible ;
}
.appear.portrait{
    width: 57%;
    height: 71%;
     left: 20%;
    opacity: 1 !important;
     -webkit-box-shadow: 0px 0px 0px 2px #AA6C19;
       -ms-box-shadow:  0px 0px 0px 2px #AA6C19;
       -o-box-shadow:  0px 0px 0px 2px #AA6C19;
       box-shadow: 0px 0px 0px 2px #AA6C19;
}
.appear.landscape{
    width: 78%;
    height: 55%;
    left: 12%;
    opacity: 1 !important;
    border-radius: 8px;
     -webkit-box-shadow: 0px 0px 0px 2px #AA6C19;
        -ms-box-shadow:  0px 0px 0px 2px #AA6C19;
         -o-box-shadow:  0px 0px 0px 2px #AA6C19;
        box-shadow: 0px 0px 0px 2px #AA6C19;
}

.shelf{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    position: relative;
    background-image: url(../images/wood-texture-min.png);
    border-top: 1px solid #eee;
    width: 100%;
    min-height: 25px;
    height: 25px;
    padding-left: -6px;
    -webkit-perspective: 500px;
       -ms-perspective: 500px;
        perspective: 500px;
    -webkit-transform: skew(-63deg);
    -ms-transform: skew(-63deg);
    transform: skew(-63deg);
}
@media only screen and (max-width : 1250px)  {
  .wrapper{
      width: 100%;
      padding-left: 10%;
   }
   .languages a{
    padding-right: 10px;
    font-size: 11px;
   }
   #wikiInfo{
      flex-direction: column;
      flex-wrap: nowrap;
      padding-left: 30px;
   }

  .card-container button {
    margin-top: 0;
  }
}
